*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header Section Strat */
a{
    color:#fff;
    text-decoration: none;
}
header{
    width: 100%;
    height: auto;
    color: #fff;
    display: flex;
    padding: 20px 125px;
    background:#1D0E2F;
    align-items: center;
    justify-content: space-between;
}
header ul li {
    margin-left: 30px;
    display: inline-block;
}
header ul li a{
    font-weight: 600;
}
header ul li a.active{
    color: #ec3d72;
}
/* Header Section End */

/* Banner Section Start */

.banner{
    width: 100%;
    height: 650px;
    padding: 50px 125px;
    background: url(../img/travling.jpeg);
    background-size: 100% 100%;
    position: relative;
}
.banner h1{
    top: 120px;
    left: 240px;
    font-size:45px;
    font-weight: 100;
    position: absolute;
}
.banner h2{
    top: 230px;
    left: 240px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}

.banner form{
    width: 80%;
    height: 100px;
    bottom: 40px;
    display: flex;
    padding: 4px 10px;
    position: absolute;
    background: #371252;
}
.banner form button{
    width: 80px;
    height: 25px;
    border: none;
    color: #fff;
    background: #4c1970;
    font-weight: 500;
}
.banner form button.active{
    background: #dd1a37;
}

.banner form .searchForm{
    margin-top: 8px;
    width: 115%;
}
.banner form .searchForm label{
    display:none;
}
.banner form .searchForm input,
.banner form .searchForm select{
    width: 170px;
    height: 35px;
    margin-right: 5px;
}
.banner form  .trip,
.banner form .box{
    color: #fff;
    display: inline-flex;
    margin-top: 3px;
}
.banner form .trip select,
.banner form .box input{
    margin-right: 4px;
}
.banner form .trip select{
    color: #fff;
    background: #371252;
    border: none;
}
.banner form .box input{
    margin-left: 4px;
}

.banner form button.smt{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 50px;
    background: #dd1a37;
}
/* Banner Section End */

/* Fun Section Start */
.fun{
    width: 100%;
    height: 250px;
    padding: 40px 125px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/peakpx.jpg);
    background-size: 100% 100%;
}
.fun h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.fun ul{
    display: flex;
    justify-content: space-between;
}
.fun ul li {
    width: 120px;
    height:100px;
    color: #fff;
    list-style: none;
    text-align: center;
    padding-top: 6px;
    font-size: 9px;
    background: rgba(0, 0, 0, 0.856);
}
.fun ul li p{
    margin-top: 10px;
}
/* Fun Section End */

/* Newslatter Section Start */
.newslatter{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 50px 125px;
    background: linear-gradient(rgba(140, 12, 226, 0.3),rgba(100, 4, 117, 0.3)),url(../img/plane.jpg);
    background-size: 100%  100%;
}
.newslatter h2,
.newslatter p,
.newslatter form{
    text-align: center;
    margin-left: 35%;
}
.newslatter p,
.newslatter form{
    margin-top: 20px;
}
.newslatter form label{
    display: none;
}
.newslatter form input{
    border-color: #fff;
    border-style: solid;;
    
}
/* Newslatter Section End */

/* Destination Section Start */
.destination {
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    padding: 50px 125px;
    background: #20162F;
}
.destination h2{
    margin-bottom: 25px;
}
.destination ul{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 50% 50%;
    grid-gap:20px 20px;
    
    
}
.destination ul li{
    list-style: none;
    border-radius: 5px;
    text-align: center;
    border: 5px solid #fff;
    background: #fff;
}
.destination ul li h5,
.destination ul li p{
    color: black;
    margin-top: 15px;
}
.destination ul li h5 span{
    color: rgb(241, 135, 60);
}
/* Destination Section End */

/* Estimate Section Start */
.estimate{
    width: 100%;
    height: auto;
    color: #fff;
    position: relative;
    background: #8663e7;
    padding: 50px 125px;
    
}
.estimate label{
    display: none;
}
.estimate h1{
    font-size: 35px;
}
.estimate h4{
    font-size: 20px;
}
.estimate  h1,
.estimate  h4{
    margin-left: 10px;
    margin-top: 10px;
}
.estimate form{
    margin-top: 40px;
}
.estimate form select,
.estimate form input{
    width: 155px;
    height: 40px;
    margin-left: 10px;
}
.estimate img{
    position: absolute;
    bottom: 0px;
    padding: 0px;
    right: 0px;
    background: #8663e7;
}
/* Estimate Section End */

/* Blog Section Strat */
.blog{
    width: 100%;
    height: auto;
    padding: 25px 125px;
}
.blog h2{
    color: #000;
    margin-bottom: 10px;
}
.blog h2+p,
.blog h2{
    text-align: center;
    padding: 0px 140px;
    margin-bottom: 20px;

}
.blog-content{
    margin:10px auto;
    display: flex;

}
.blog-content div  h3 {
    margin-top: 6px;
}
.blog-content div p{
    margin-top: 5px;
}
.blog-content div{
    display: flex;
    padding: 0px 20px;
}
.blog-content div img{
    width: 150px;
    height: 150px;
}
.blog-content div div{
    display: inline-block;
}
/* Blog Section End */
/* Footer Section Start */
footer{
    width: 100%;
    height: auto;
    padding: 50px 125px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
                url(../img/airbus-in-airport.jpg);
    background-size: 100% 100%;
}
footer .topfooder,
footer .topfooder .topcountry{
    display: flex;
    justify-content: space-between;
}
footer .topfooder .topcountry .city{
    margin-left: 120px;
}
footer  h3{
    color: #c4c2c7;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 14px;
    margin-right: 40px;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    color: #b2afb6;
}
footer ul li a span{
    color: #fff;
    font-weight: 500;
}
footer ul li{
    margin-bottom: 5px;
}
footer .international div{
    display: flex;
    justify-content: space-between;
}
footer .international div .inter{
    margin-right: 50px;
}
footer .bottomfooter{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
footer .search{
    margin-right: 100px;
}
footer .search ul li {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 11px;
    margin-top: 10px;
}
footer .search ul li a{
    color: #fff;
    font-weight: 500;
}
footer .search p{
    color: #c4c2c7;
    font-size: 14px;
}
footer .visit ul li{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 15px;
    font-size: 23px;
}
/* Footer Section End */

/* Media Query Section Start */
@media screen and (max-width:1268px){
    header, .banner, .fun, .newslatter, 
    .destination, .estimate, .blog, footer{
        padding-left: 25px;
        padding-right: 25px;
    }
    .banner form{
        margin-left: 60px;
        margin-right: 60px;
        height: auto;
    }
    .banner form .searchForm input,
    .banner form .searchForm select{
        width:17% ;
    }
    .banner form button.smt{
        margin-left: 120px;
    }
    .banner form .trip{
        width: 130%;
    }
    .estimate form{
        width: 90%;
    }
    .estimate form select,
    .estimate form input{
        width: 125px;
        margin-right: -10px;
    }
}
@media screen and (max-width:990px){
    header ul li{
        margin-left: 6px;
    }
    .banner h1{
        top: 90px;
        left: 100px;
    }
    .banner h2{
        top: 200px;
        left: 100px;
    }
    .banner form .trip,
    .banner form .box{
        display: block;
    }
    .banner form .box{
        display: flex;
        gap: 50px;
    }
    .banner  form .box input{
        margin-right: -48px;
    }
    .banner form button.smt{
        margin-top: 15px;
    }
    .fun ul li{
        width: 110px;
        height: 100px;
    }
    .destination {
        padding-left: 20px;
        padding-right: 20px;
    }
    .destination ul li h5,
    .destination ul li p{
        margin-top: 0px;
    }
    .estimate{
        padding: 30px 10px;
    }
    .estimate h1{
        font-size: 20px;
        margin-top: 0px
    }
    .estimate h4{
        font-size: 12px;
    }
    .estimate form{
       width: 70%;
       height: 100px;
       margin-top: 10px;
    }
    .estimate form select,
    .estimate form input{
       width: 40%;
    }
    .estimate img{
        width: 180px;
        height: 230px;
    }
    .blog h2+p{
        padding: 0px 50px;
    }
    .blog-content {
        display: block;
    }
    footer .topfooder {
        display: block;
    }
    footer .topfooder .international h3{
        text-align: center;
    }
    footer .topfooder .international{
        margin-top: 20px;
        margin-right: 50px;
    }
    footer .bottomfooter .logo{
        margin-top: 10px;
    }
    footer .bottomfooter .search{
        padding-left: 10px;
        margin-right: 0px;
    }
    footer .visit ul li{
        display: block;
    }
}
@media screen and (max-width:749px){
    .banner form{
        width: 50%;
        left: 100px;
        border-radius: 5px;
        flex-direction: column;
    }
    .banner form button{
        width: auto;
    }
    .banner form .searchForm input,
    .banner form .searchForm select{
        display: block;
        width: 87%;
    }
    .banner form .searchForm span{
        display: none;
    }
    .banner form .box{
        display:block;
    }
    .banner form .box input{
        margin-right: 10px;
    }
    .banner form .trip{
        width: auto;
    }
    .banner form button.smt{
        width: 100%;
        height: 30px;
        border-radius: 0px;
        margin: 10px auto;
    }
    .fun{
        height: auto;
    }
    .fun ul{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 120px 120px;
        grid-gap: 10px;
        margin-left: 8%;
    }
    .destination ul{
        display: grid;
        grid-template-columns: repeat(2, 47%);
        grid-template-rows: 250px 250px;
        grid-gap: 30px;
    }
    footer .topfooder .topcountry .city {
        margin-left: 0px; 
    }
}
@media screen and (max-width:523px){
    .banner h1,
    .banner h2{
        position: static;
        font-size: 30px;
    }
    .banner h2{
        font-size: 15px;
    }
    .banner form {
        left: 35px;
    }
    .fun h2{
        font-size: 20px;
    }
    .fun ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 120px 120px;
        grid-gap: 10px;
        margin-left: 45px;
        margin-right: 0px;
    }
    .newslatter h2{
        font-size: 20px;
    }
    .newslatter p{
        font-size: 12px;
    }
    .newslatter form{
        margin-left: 5px;
    }
    .destination ul{
        display: grid;
        grid-template-columns: repeat(1, 70%);
        grid-template-rows: 250px 250px 250px;
        grid-gap: 20px;
        padding-left: 25%;
    }
    .destination ul li h5,
    .destination ul li p{
        margin-top: 8px;
    }
    .blog h2+p, .blog h2 {
        padding: 0px ;
    }
    .blog-content div {
         display:block; 
    }
    .blog-content div {
        padding: 5px 0px;
    }
    footer .topfooder, footer .topfooder .topcountry {
        display: block;
        padding-left: 4px;
    }
    footer .search ul li{
        font-size: 14px;
        margin-right: 5px;
        margin-top: 5px;
    }
}
/* Media Query Section End */